@function max($numbers...) {
    @return m#{a}x*(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}

%text-wrap {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
}